.aluguel{
  background: url(../images/bg-aluguel-quadra.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  p{
    margin-bottom: 0;
  }
}