.sobre-nos{
  background-image: linear-gradient(to bottom, $white 56%, $success 56%);
  padding-bottom: 0;

  h2{
    margin-bottom: 3rem;
  }

  .card{
    border: none;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    text-align: center;
    transition: all .25s ease-in-out;

    p{
      line-height: 1.4;
      padding: 1rem .5rem;
    }

    &:hover{
      box-shadow: 0 5px 10px rgba(0,0,0,.05);
    }
  }
  .lead{
    color: $white;
    font-weight: 700;
    line-height: 1.3;
  }
  .conversao{
    text-align: center;

    .small{
      color: $white;
      line-height: 1.2;
    }
  }
}